SimpleAutomation/SimpleAutomation.Tests/obj/
SimpleAutomation/SimpleAutomation.Tests/bin/
SimpleAutomation/packages/
SimpleAutomation/SimpleAutomation.Library/obj/
SimpleAutomation/SimpleAutomation.Library/bin/
